aioboto3==15.5.0
aiobotocore==2.25.1
aiofiles==25.1.0
aiogram==3.30.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aioitertools==0.13.0
aiosignal==1.4.0
alembic==1.19.1
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
asyncpg==0.31.0
attrs==26.1.0
boto3==1.40.61
botocore==1.40.61
certifi==2026.7.22
click==8.4.2
fastapi==0.141.1
frozenlist==1.8.0
greenlet==3.5.5
h11==0.16.0
idna==3.19
Jinja2==3.1.6
jmespath==1.1.0
magic-filter==1.0.12
Mako==1.4.1
MarkupSafe==3.0.3
multidict==6.7.1
propcache==0.5.2
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-multipart==0.0.32
s3transfer==0.14.0
six==1.17.0
sqladmin==0.31.0
SQLAlchemy==2.0.52
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.7.0
uvicorn==0.52.4
wrapt==1.17.3
WTForms==3.2.2
yarl==1.24.5
